// CSS MANIFEST FILE
// Use sprockets to define css file load here
body { font-family: "Helvetica Neue"; padding: 20px; }
#other { height: 40px; background: #EEE; }

.editing { background: #CCC; }
.model { padding: 10px; border: 1px solid #CCC; margin: 10px 0; }
.red { border: 1px solid red; }
